In [14]:
import requests
import json
import sqlite3

In [3]:
#criando o banco de dados
con = sqlite3.connect('ceps.db')
cur = con.cursor()

In [37]:
# criando tabela
#cur.execute('''CREATE TABLE data
#               (cep TEXT, logradouro TEXT, complemento TEXT, bairro TEXT, localidade TEXT, uf TEXT, ibge TEXT, ddd TEXT, siafi TEXT)''')

In [38]:
requisição = requests.get(r'https://viacep.com.br/ws/95700066/json/')
requisição = requisição.json()

In [39]:
ceps = cep
logradouro = requisição['logradouro']
complemento = requisição['complemento']
bairro = requisição['bairro']
localidade = requisição['localidade']
uf = requisição['uf']
ibge = requisição['ibge']
gia = requisição['gia']
ddd = requisição['ddd']
siafi = requisição['siafi']

In [33]:
type(ceps)

str

In [40]:
# inserindo dados na tabela
cur.execute("INSERT INTO data VALUES (?,?,?,?,?,?,?,?,?)"(ceps, logradouro, complemento, bairro, localidade,uf,ibge,ddd,siafi))

<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\david\AppData\Local\Temp/ipykernel_12496/1765859215.py:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  cur.execute("INSERT INTO data VALUES (?,?,?,?,?,?,?,?,?)"(ceps, logradouro, complemento, bairro, localidade,uf,ibge,ddd,siafi))

TypeError: 'str' object is not callable